extends layout

block content
  div.container
    div.header
    div.switcher
      a.switch(id="liveButton") Live Now
      a.switch(id="comingButton") Coming Up
    div.streams
      div.live
        div.oneStream
          span.time 00:05
          img.twitterProfileImage(src="https://pbs.twimg.com/profile_images/457016792259391488/lNWACUK8_normal.jpeg")
          span.name Ben Thompson
          span.title Is Meerkat Doomed?
      div.schedule
