extends layout

block content
  div.container
    div.header
      h1 What's on Meerkat?
    div.switcher
      a.switch(id="liveButton") Live Now
      a.switch(id="comingButton") Coming Up
    div.streams
      div.live
      div.schedule


