doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/deps.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content
    script(src='/scripts/deps.js')
    script(src='/scripts/main.js')
